@page "/deployments"
@inject IKubernetesClientService KubernetesClientService;

<ListPage Title="Deployments" IsLoading="@_loading" KubectlHint="kubectl get deployments --all-namespaces" Selected="@_selected">
    <FluentDataGrid TGridItem="Selectable<V1Deployment>" Items="@_list" HeaderCellAsButtonWithMenu="false">
        <EmptyContent>
            <div>@(_failure ?? "No data to show")</div>
        </EmptyContent>
        <ChildContent>
            <SelectColumn TGridItem="Selectable<V1Deployment>"
                      SelectMode="DataGridSelectMode.Single"
                      SelectFromEntireRow="true"
                      Property="@(p => p.Selected)"
                      OnSelect="@(p => Select(p))" />
            <PropertyColumn Title="Namespace" Property="@(p => p.Item.Metadata.NamespaceProperty)" Sortable="true" />
            <PropertyColumn Title="Name" Property="@(p => p.Item.Metadata.Name)" Sortable="true" />
            <PropertyColumn Title="Ready" Property="@(p => $"{p.Item.Status.ReadyReplicas}/{p.Item.Status.AvailableReplicas}")" Sortable="true" />
            <PropertyColumn Title="Upto date" Property="@(p => p.Item.Status.UpdatedReplicas)" Sortable="true" />
            <PropertyColumn Title="Available" Property="@(p => p.Item.Status.AvailableReplicas)" Sortable="true" />
            <PropertyColumn Title="Age" Property="@(p => p.Item.Metadata.CreationTimestamp.ToAge())" Sortable="true" />
        </ChildContent>
    </FluentDataGrid>
</ListPage>

@code {
    private bool _loading = true;
    private IQueryable<Selectable<V1Deployment>>? _list;
    private V1Deployment? _selected;
    private string? _failure;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var items = await KubernetesClientService.GetDeploymentsAsync();
            switch (items)
            {
                case ISuccess success:
                    _list = items.Value.Items.ToSelectableQueryable();
                    _failure = null;
                    break;
                case IFailure failure:
                    _list = null;
                    _failure = failure.FailureMessage();
                    break;
            }
        }
        finally
        {
            _loading = false;
        }
    }

    private void Select((Selectable<V1Deployment> Item, bool Selected) p)
    {
        p.Item.Selected = p.Selected;
        _selected = p.Item.Selected ? p.Item.Item : null;
    }
}