@page "/endpoints"
@inject IKubernetesClientService KubernetesClientService;

<ListComponent Title="Endpoints" IsLoading="@_loading" KubectlHint="@_kubeCtlHint" Selected="@_selected" OnRefresh="async () => await LoadAsync()">
    <Actions>
        <FluentCombobox Autocomplete="ComboboxAutocomplete.Both" Placeholder="Select Namespace" Height="200px" TOption="string" Items="@_namespaces" @bind-Value="@_selectedNamespace" SelectedOptionChanged="OnNamespaceChangedAsync" />
    </Actions>

    <ChildContent>
        <FluentDataGrid TGridItem="Selectable<V1Endpoints>" Items="@_list" HeaderCellAsButtonWithMenu="false">
            <EmptyContent>
                <div>@(_failure ?? "No data to show")</div>
            </EmptyContent>
            <ChildContent>
                <SelectColumn TGridItem="Selectable<V1Endpoints>"
                      SelectMode="DataGridSelectMode.Single"
                      SelectFromEntireRow="true"
                      Property="@(p => p.Selected)"
                      OnSelect="@(p => Select(p))" />
                <PropertyColumn Title="Namespace" Property="@(p => p.Item.Metadata.NamespaceProperty)" Sortable="true" />
                <PropertyColumn Title="Name" Property="@(p => p.Item.Metadata.Name)" Sortable="true" IsDefaultSortColumn="true"/>
                <PropertyColumn Title="Endpoints" Property="@(p => GetEndpointIps(p))" Sortable="true" />
                <PropertyColumn Title="Age" Property="@(p => p.Item.Metadata.CreationTimestamp.ToAge())" Sortable="true" />
            </ChildContent>
        </FluentDataGrid>
    </ChildContent>
</ListComponent>

@code {
    private bool _loading;
    private IQueryable<Selectable<V1Endpoints>>? _list;
    private V1Endpoints? _selected;
    private string? _failure;
    private string _kubeCtlHint = string.Empty;
    private string[]? _namespaces;
    private string? _selectedNamespace;

    private static string? GetEndpointIps(Selectable<V1Endpoints> item) => item.Item.Subsets is null ? string.Empty : item.Item.Subsets.SelectMany(s => s.Addresses.Select(a => a.Ip)).CsvJoin();

    protected override async Task OnInitializedAsync()
    {
        _selectedNamespace = KubernetesClientService.GetCurrentNamespace();
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        try
        {
            _loading = true;
            var items = await KubernetesClientService.GetEndpointsAsync(_selectedNamespace);
            switch (items)
            {
                case ISuccess:
                    _list = items.Value.Items.ToSelectableQueryable();
                    _failure = null;
                    break;
                case IFailure failure:
                    _list = null;
                    _failure = failure.FailureMessage();
                    break;
            }
            _kubeCtlHint = $"kubectl get endpoints {_selectedNamespace.NamespaceParameter()}";
            _namespaces = await KubernetesClientService.GetNamespaceNamesAsync();
        }
        finally
        {
            _loading = false;
        }
    }

    private void Select((Selectable<V1Endpoints> Item, bool Selected) p)
    {
        p.Item.Selected = p.Selected;
        _selected = p.Item.Selected ? p.Item.Item : null;
    }

    private async Task OnNamespaceChangedAsync(string? newNamespace)
    {
        _selectedNamespace = newNamespace;
        await LoadAsync();
    }

}