@page "/endpoints"
@inject IKubernetesClientService KubernetesClientService;

<ListComponent Title="Endpoints" IsLoading="@_loading" KubectlHint="@_kubeCtlHint" Selected="@_selected" OnRefresh="async () => await LoadAsync()">

    <ChildContent>
        <FluentDataGrid TGridItem="Selectable<V1Endpoints>" Items="@_list" HeaderCellAsButtonWithMenu="false">
            <EmptyContent>
                <div>@(_failure ?? "No data to show")</div>
            </EmptyContent>
            <ChildContent>
                <SelectColumn TGridItem="Selectable<V1Endpoints>"
                      SelectMode="DataGridSelectMode.Single"
                      SelectFromEntireRow="true"
                      Property="@(p => p.Selected)"
                      OnSelect="@(p => Select(p))" />
                <PropertyColumn Title="Namespace" Property="@(p => p.Item.Metadata.NamespaceProperty)" Sortable="true" />
                <PropertyColumn Title="Name" Property="@(p => p.Item.Metadata.Name)" Sortable="true" />
                <PropertyColumn Title="Endpoints" Property="@(p => GetEndpointIps(p))" Sortable="true" />
                <PropertyColumn Title="Age" Property="@(p => p.Item.Metadata.CreationTimestamp.ToAge())" Sortable="true" />
            </ChildContent>
        </FluentDataGrid>
    </ChildContent>
</ListComponent>

@code {
    private bool _loading;
    private IQueryable<Selectable<V1Endpoints>>? _list;
    private V1Endpoints? _selected;
    private string? _failure;
    private string _kubeCtlHint = string.Empty;

    private static string? GetEndpointIps(Selectable<V1Endpoints> item) => item.Item.Subsets is null ? string.Empty : item.Item.Subsets.SelectMany(s => s.Addresses.Select(a => a.Ip)).CsvJoin();

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    protected async Task LoadAsync()
    {
        try
        {
            _loading = true;
            var items = await KubernetesClientService.GetEndpointsAsync(KubernetesClientService.GetCurrentNamespace());
            switch (items)
            {
                case ISuccess:
                    _list = items.Value.Items.ToSelectableQueryable();
                    _failure = null;
                    break;
                case IFailure failure:
                    _list = null;
                    _failure = failure.FailureMessage();
                    break;
            }
            _kubeCtlHint = $"kubectl get endpoints {KubernetesClientService.GetCurrentNamespace().NamespaceParameter()}";
        }
        finally
        {
            _loading = false;
        }
    }

    private void Select((Selectable<V1Endpoints> Item, bool Selected) p)
    {
        p.Item.Selected = p.Selected;
        _selected = p.Item.Selected ? p.Item.Item : null;
    }

}