@page "/flowschemas"
@inject IKubernetesClientService KubernetesClientService;

<ListComponent Title="Flow Schemas" IsLoading="@_loading" KubectlHint="@_kubeCtlHint" Selected="@_selected" OnRefresh="async () => await LoadAsync()">

    <ChildContent>
        <FluentDataGrid TGridItem="Selectable<V1FlowSchema>" Items="@_list" HeaderCellAsButtonWithMenu="false">
            <EmptyContent>
                <div>@(_failure ?? "No data to show")</div>
            </EmptyContent>
            <ChildContent>
                <SelectColumn TGridItem="Selectable<V1FlowSchema>"
                      SelectMode="DataGridSelectMode.Single"
                      SelectFromEntireRow="true"
                      Property="@(p => p.Selected)"
                      OnSelect="@(p => Select(p))" />
                <PropertyColumn Title="Name" Property="@(p => p.Item.Metadata.Name)" Sortable="true" />
                <PropertyColumn Title="Priority Level" Property="@(p => p.Item.Spec.PriorityLevelConfiguration.Name)" Sortable="true" />
                <PropertyColumn Title="Matching Precedence" Property="@(p => p.Item.Spec.MatchingPrecedence)" Sortable="true" />
                <PropertyColumn Title="Distinguisher Method" Property="@(p => DistinguisherMethod(p))" Sortable="true" />
            </ChildContent>
        </FluentDataGrid>
    </ChildContent>
</ListComponent>

@code {
    private bool _loading;
    private IQueryable<Selectable<V1FlowSchema>>? _list;
    private V1FlowSchema? _selected;
    private string? _failure;
    private readonly string _kubeCtlHint = "kubectl get flowschemas";

    private static string DistinguisherMethod(Selectable<V1FlowSchema> s) => s.Item.Spec.DistinguisherMethod?.Type ?? string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    protected async Task LoadAsync()
    {
        try
        {
            _loading = true;
            var items = await KubernetesClientService.GetFlowSchemasAsync();
            switch (items)
            {
                case ISuccess:
                    _list = items.Value.Items.ToSelectableQueryable();
                    _failure = null;
                    break;
                case IFailure failure:
                    _list = null;
                    _failure = failure.FailureMessage();
                    break;
            }
        }
        finally
        {
            _loading = false;
        }
    }

    private void Select((Selectable<V1FlowSchema> Item, bool Selected) p)
    {
        p.Item.Selected = p.Selected;
        _selected = p.Item.Selected ? p.Item.Item : null;
    }

}