@page "/leases"
@inject IKubernetesClientService KubernetesClientService;

<ListPage Title="Leases" IsLoading="@_loading" KubectlHint="@_kubeCtlHint" Selected="@_selected">

    <ChildContent>
        <FluentDataGrid TGridItem="Selectable<V1Lease>" Items="@_list" HeaderCellAsButtonWithMenu="false">
            <EmptyContent>
                <div>@(_failure ?? "No data to show")</div>
            </EmptyContent>
            <ChildContent>
                <SelectColumn TGridItem="Selectable<V1Lease>"
                      SelectMode="DataGridSelectMode.Single"
                      SelectFromEntireRow="true"
                      Property="@(p => p.Selected)"
                      OnSelect="@(p => Select(p))" />
                <PropertyColumn Title="Namespace" Property="@(p => p.Item.Metadata.NamespaceProperty)" Sortable="true" />
                <PropertyColumn Title="Name" Property="@(p => p.Item.Metadata.Name)" Sortable="true" />
                <PropertyColumn Title="Holder" Property="@(p => p.Item.Spec.HolderIdentity)" Sortable="true" />
                <PropertyColumn Title="Age" Property="@(p => p.Item.Metadata.CreationTimestamp.ToAge())" Sortable="true" />
            </ChildContent>
        </FluentDataGrid>
    </ChildContent>
</ListPage>

@code {
    private bool _loading = true;
    private IQueryable<Selectable<V1Lease>>? _list;
    private V1Lease? _selected;
    private string? _failure;
    private string _kubeCtlHint = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var items = await KubernetesClientService.GetLeasesAsync(KubernetesClientService.GetCurrentNamespace());
            switch (items)
            {
                case ISuccess:
                    _list = items.Value.Items.ToSelectableQueryable();
                    _failure = null;
                    break;
                case IFailure failure:
                    _list = null;
                    _failure = failure.FailureMessage();
                    break;
            }
            _kubeCtlHint = $"kubectl get leases {KubernetesClientService.GetCurrentNamespace().NamespaceParameter()}";
        }
        finally
        {
            _loading = false;
        }
    }

    private void Select((Selectable<V1Lease> Item, bool Selected) p)
    {
        p.Item.Selected = p.Selected;
        _selected = p.Item.Selected ? p.Item.Item : null;
    }

}