@page "/storageclasses"
@inject IKubernetesClientService KubernetesClientService;

<ListComponent Title="Storage Classes" IsLoading="@_loading" KubectlHint="@_kubeCtlHint" Selected="@_selected" OnRefresh="async () => await LoadAsync()">
    <Actions>
    </Actions>

    <ChildContent>
        <FluentDataGrid TGridItem="Selectable<V1StorageClass>" Items="@FilteredItems" HeaderCellAsButtonWithMenu="false">
            <EmptyContent>
                <div>@(_failure ?? Consts.NoDataToShow)</div>
            </EmptyContent>
            <ChildContent>
                <SelectColumn TGridItem="Selectable<V1StorageClass>"
                      SelectMode="DataGridSelectMode.Single"
                      SelectFromEntireRow="true"
                      Property="@(p => p.Selected)"
                      OnSelect="@(p => Select(p))" />
                <PropertyColumn Title="Name" Property="@(p => p.Item.Metadata.Name)" Sortable="true" IsDefaultSortColumn="true"
                    Comparer="@ColumnStringComparer.Instance" Filtered="!string.IsNullOrWhiteSpace(_nameFilter)">
                    <ColumnOptions>
                            <FluentSearch Autofocus=true @bind-Value=_nameFilter
                                          @oninput="NameFilter"
                                          Placeholder="Name..." />
                    </ColumnOptions>
                </PropertyColumn>
                <PropertyColumn Title="Age" Property="@(p => p.Item.Metadata.CreationTimestamp.ToAge())" Sortable="true" />
            </ChildContent>
        </FluentDataGrid>
    </ChildContent>
</ListComponent>

@code {
    private bool _loading;
    private IQueryable<Selectable<V1StorageClass>>? _list;
    private V1StorageClass? _selected;
    private string? _failure;
    private readonly string _kubeCtlHint = "kubectl get storageclasses";
    private string _nameFilter = string.Empty; 

    private IQueryable<Selectable<V1StorageClass>>? FilteredItems => _list?.Where(p => 
        p.Item.Metadata.Name.Contains(_nameFilter, StringComparison.CurrentCultureIgnoreCase)
    );


    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        try
        {
            _loading = true;
            var items = await KubernetesClientService.GetStorageClassesAsync();
            switch (items)
            {
                case ISuccess:
                    _list = items.Value.Items.ToSelectableQueryable();
                    _failure = null;
                    break;
                case IFailure failure:
                    _list = null;
                    _failure = failure.FailureMessage();
                    break;
            }
        }
        finally
        {
            _loading = false;
        }
    }

    private void Select((Selectable<V1StorageClass> Item, bool Selected) p)
    {
        p.Item.Selected = p.Selected;
        _selected = p.Item.Selected ? p.Item.Item : null;
    }



    private void NameFilter(ChangeEventArgs args)
    {
        if (args.Value is string value)
        {
            _nameFilter = value;
        }
    }
}